@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617; /* slate-950 default */
  color: #f8fafc; /* slate-50 default */
}
